<div class="Dashboard__Wrapper">
    <div class="Dashboard__NavigationAndContent">
        <lib-nav class="Dashboard__Navigation" (onNavAction)="onNavAction($event)" [externalComponents]="navTools"></lib-nav>
        <div class="Dashboard__Content">
          <div class="Dashboard_Header">
            <span>Welcome to Live Surveillance</span>
          </div>
          <div class="AppsArea_Wrapper">
            <app-card *ngFor="let card of cards" [card]="card" (click)="navActionFromCard(card.route)"></app-card>
          </div>
        </div>
    </div>
</div>
